					<div class="row">
						<div class="col-md-6 col-lg-12 col-xl-6">
							<div class="row">
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-primary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-primary">
														<i class="fa fa-life-ring"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">缴存数据</h4>
														<div class="info">
															<strong class="amount">1281</strong>
															<span class="text-primary"></span>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase">(查看所有)</a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-secondary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-secondary">
														<i class="fa fa-usd"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">提取</h4>
														<div class="info">
															<strong class="amount">1451</strong>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase">(查看所有)</a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-tertiary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-tertiary">
														<i class="fa fa-shopping-cart"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">贷款数据</h4>
														<div class="info">
															<strong class="amount">1138</strong>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase">(查看所有)</a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-quartenary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-quartenary">
														<i class="fa fa-user"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">新增数据</h4>
														<div class="info">
															<strong class="amount">328</strong>
															<strong class="amount"></strong>
															<span class="text-primary">缴存:120;提取:110;贷款:98</span>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase"></a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title"></h5>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>业务类型</th>
										<th>稽核总数</th>
										<th>异常条数</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>缴存</td>
										<td>1120</td>
										<td>10</td>
									</tr>
									<tr>
										<td>2</td>
										<td>提取</td>
										<td>321</td>
										<td>6</td>
									</tr>
									<tr>
										<td>3</td>
										<td>贷款</td>
										<td>1211</td>
										<td>6</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
						</div>
					</div>

