html{ font-size:62.5%;}
body{ background-color:#fff; font-family:"Microsoft YaHei","simsun",Arial; font-size:14px; line-height:1.5; color:#333; overflow-x:hidden;}
body,form{margin:0px;padding:0px;}
img{ border:none;vertical-align:middle;}
a{ text-decoration:none; color:#333;}
a:hover{ color:#0084e9;}
input,textarea{ outline:none;vertical-align:middle;}
input,textarea,select{ font-size:100%; font-family:"Microsoft YaHei","Simsun",Arial;}
textarea{ resize:none; overflow-y:auto;}
input[type="submit"],input[type="reset"],input[type="button"]{ cursor:pointer;}
h1,h2,h3,h4,h5,h6{ font-family:"Microsoft YaHei","Simsun",Arial; font-weight:normal; line-height:1; padding:0; margin:0;}
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:18px;}
h5{ font-size:16px;}
h6{ font-size:14px;}
hr{ border:none; border-top:1px solid #ccc; height:0;}
.reset,.reset dt,.reset dd{ padding:0; margin:0; list-style:none;}
.clear{ clear:both; display:block; height:0; font-size:0; visibility:hidden; overflow:hidden;}
.clearfix{ clear:both;}
.clearfix:before{ content:"."; display:block; clear:both; height:0; font-size:0; visibility:hidden; overflow:hidden;}
.clearfix:after{ content:"."; display:block; clear:both; height:0; font-size:0; visibility:hidden; overflow:hidden;}

.tip{ border:1px solid #a1f3c6; background:#eafff3; padding:30px;}

.nav{ position:fixed;top:70px; right:10px;width:60px; background:#eee; border:1px solid #ccc;padding: 5px; border-bottom:none;opacity:0.4;filter:alpha(opacity=40);}
.nav li{ height:30px; line-height:30px; border-bottom:1px solid #ccc; text-align:center; cursor:pointer;}
.nav li:hover{ background:#0084e9; color:#fff;}

.section{ padding:20px;}
.section h4 span{ color:#0084e9;}
.icons-list li { width:25%; float:left; height:42px; line-height:42px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.icons-list li i{ width:36px; text-align:center; vertical-align:middle;}
.icons-list li em{color:#999;}
.icons-list li span{ cursor:pointer;}
.icons-list li span:hover{ color:#0084e9;}
.icons-list li:hover i{ font-size:24px;}