<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <title>登录</title>
</head>
<body>
<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <!--<h1>Jh</h1>-->
    </div>
    <div class="login-box">
        <!--th:action="@{/login}"-->
        <form class="login-form" method="post">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
            <div class="form-group">
                <label class="control-label">用户名</label>
                <input name="username" class="form-control" type="text" placeholder="username" autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">密码</label>
                <input name=password"" class="form-control" type="password" placeholder="password">
            </div>
            <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox">
                        <label>
                            <input type="checkbox"><span class="label-text">记住我</span>
                        </label>
                    </div>
                    <p class="semibold-text mb-2"><a href="#" data-toggle="flip">忘记密码 ?</a></p>
                </div>
            </div>
            <!--<span>${session.SPRING_SECURITY_LAST_EXCEPTION.message}</span>-->
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
            </div>
        </form>
    </div>
</section>
<!-- Essential javascripts for application to work-->
<script src="webjars/jquery/jquery.min.js"></script>
<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/plugins/popper.min.js"></script>
<!--<script src="static/js/main.js"></script>-->
<!-- The javascript plugin to display page loading on top-->
<script src="static/js/plugins/pace.min.js"></script>
<script type="text/javascript">
    // Login Page Flipbox control
    // $('.login-content [data-toggle="flip"]').click(function () {
    //     $('.login-box').toggleClass('flipped');
    //     return false;
    // });
    $('.login-box button').on('click',function () {
        $('.login-form').submit();
    })
</script>
</body>
</html>