<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/static/css/login.css}">
    <!-- import stylesheet -->
    <link rel="stylesheet" th:href="@{/webjars/iview/dist/styles/iview.css}">
    <!-- import  vue-->
    <script type="text/javascript" th:src="@{/webjars/vue/dist/vue.min.js}"></script>
    <!-- import iView -->
    <script type="text/javascript" th:src="@{/webjars/iview/dist/iview.min.js}"></script>
    <!-- i18n -->
    <script type="text/javascript" th:src="@{/webjars/iview/dist/locale/zh-CN.js}"></script>
    <title>登录</title>

    <script>
        iview.lang('zh-CN');
    </script>
</head>
<body>
    <div id="login" class="login-container">
        <div class="form-container">
            <p class="title" slot="title">登录</p>
            <i-form ref="formValue" :model="formValue" :rules="ruleValue" :label-width="0" class="form" method="POST">
                <form-item prop="username">
                    <i-input type="text" v-model="formValue.username" placeholder="用户名" name="username">
                        <icon type="ios-person-outline" slot="prepend"></icon>
                    </i-input>
                </form-item>
                <form-item prop="password">
                    <i-input type="password" v-model="formValue.password" placeholder="密码" name="password" @keyup.enter.native="handleSubmit('formValue')" >
                        <icon type="ios-lock-outline" slot="prepend"></icon>
                    </i-input>
                </form-item>
                <form-item label="" prop="rememberMe">
                    <checkbox v-model="formValue.rememberMe" name="rememberMe">记住我？</checkbox>
                    <a href="javascript:;" style="float: right;">忘记密码</a>
                </form-item>
                <form-item>
                    <i-button type="primary" @click="handleSubmit('formValue')" class="btn-submit">登录</i-button>
                </form-item>
            </i-form>
        </div>
    </div>
</body>
    <script>
         new Vue({
            el:'#login',
            data() {
                const validateUsername = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入用户名！'));
                        } else {
                            callback();
                        }
                    }
                ;
                const validatePassword = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入密码！'));
                        } else {
                            callback();
                        }
                    }
                ;

                return {
                    formValue: {
                        username: '',
                        password: '',
                        rememberMe: false
                    },
                    ruleValue: {
                        username: [
                            {validator: validateUsername, trigger: 'blur'}
                        ],
                        password: [
                            {validator: validatePassword, trigger: 'blur'}
                        ]
                    }
                }
            },
            methods: {
                handleSubmit(name) {
                    this.$refs[name].$el.submit();
                    // this.$refs[name].validate((valid) => {
                    //     if (valid) {
                    //         this.$Message.success('Success!');
                    //     } else {
                    //         this.$Message.error('Fail!');
                    //     }
                    // })
                }
            }
        });
    </script>
</html>