<!DOCTYPE html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="center">
    <main id="page-content" class="app-content "><!-- container-fluid  -->
        <div class="app-title">
            <div>
                <!--<h1><i class="fa fa-dashboard"></i><th:block th:text="${menuText}"></th:block></h1>-->
                <h5 th:text="${menuText}"><i class="fa fa-dashboard"></i></h5>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="index">主页</a></li>
            </ul>
        </div>
        <div th:replace="::app-content"></div>
    </main>
</th:block>
</html>