<!DOCTYPE html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/html5::head"></head>

<body class="app sidebar-mini rtl">
    <!-- head-->
    <div th:replace="layout/head::head"></div>

    <!-- left-->
    <div th:replace="layout/left::left"></div>

    <!--center-->
    <div th:replace="layout/center::center"></div>

    <div th:replace="common/modal::message"></div>
    <div th:replace="common/commons::common-js"></div>

</body>
    <script>
        $(function(){
            var $cpager = $('#page-content').children().eq(1);
            //可以在这做组件初始化
        })
    </script>
</html>