<!DOCTYPE html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
    <!-- Twitter meta-->
    <title th:text="#{app.title}"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" href="favicon.ico">

    <div th:replace="common/commons::common-css"></div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window['contextPath'] = [[@{/}]];
    </script>
</th:block>

</html>